<footer>
  <div class="footer_wrapper">
    <div class="footer_brand">
      &copy; The SAO Astrophysics Data System
      <div class="footer_brand_extra">
        <p>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          help[at]scixplorer.org
        </p>
        <p>
          SciX is a project created by the Astrophysics Data System (ADS), which
          is operated by the Smithsonian Astrophysical Observatory under NASA
          Cooperative Agreement <em>80NSSC21M0056</em>
        </p>
      </div>
      <div class="footer_brand_logos">
        <div class="logo1">
          <a href="http://www.si.edu" target="_blank" rel="noreferrer noopener">
            <img
              id="smithsonian-logo"
              src="/styles/img/smithsonian-logo.svg"
              alt="Smithsonian logo"
            />
          </a>
        </div>

        <div class="logo2">
          <a
            href="https://www.cfa.harvard.edu/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <img
              src="/styles/img/cfa.png"
              alt="Harvard Center for Astrophysics logo"
              id="cfa-logo"
            />
          </a>
        </div>

        <div class="logo3">
          <a
            href="http://www.nasa.gov"
            target="_blank"
            rel="noreferrer noopener"
          >
            <img
              src="/styles/img/nasa-partner.svg"
              alt="NASA logo"
              id="nasa-logo"
            />
          </a>
        </div>
      </div>
      <div class="footer_disclaimer">
        *The material contained in this document is based upon work supported by
        a National Aeronautics and Space Administration (NASA) grant or
        cooperative agreement. Any opinions, findings, conclusions or
        recommendations expressed in this material are those of the author and
        do not necessarily reflect the views of NASA.
      </div>
    </div>
    <div class="footer_list">
      <div class="footer_list_title">Resources</div>
      <ul class="footer_links">
        <li>
          <a href="/scixabout" target="_blank" rel="noreferrer noopener">
            About SciX
          </a>
        </li>
        <li>
          <a href="/feedback/general" target="_blank" rel="noreferrer noopener">
            Give Feedback
          </a>
        </li>
        <li>
          <a href="/scixhelp" target="_blank" rel="noreferrer noopener"> </a>
        </li>
        <li>
          <a
            href="/scixabout/careers"
            target="_blank"
            rel="noreferrer noopener"
          >
            Careers@SciX
          </a>
        </li>
        <li>
          <a
            href="/help/accessibility/"
            target="_blank"
            rel="noreferrer noopener"
          >
            Accessibility
          </a>
        </li>
        <li>
          <a
            href="https://sciencediscoveryengine.nasa.gov/app/nasa-sba-smd/#/home"
            target="_blank"
            rel="noreferrer noopener"
          >
            NASA Science Discovery Engine
          </a>
        </li>
      </ul>
    </div>
    <div class="footer_list">
      <div class="footer_list_title">Social</div>
      <ul class="footer_links">
        <li>
          <a
            href="//twitter.com/scixcommunity"
            target="_blank"
            rel="noreferrer noopener"
          >
            @scixcommunity
          </a>
        </li>
        <li>
          <a href="/scixblog/" target="_blank" rel="noreferrer noopener">
            SciX Blog
          </a>
        </li>
      </ul>
    </div>
    <div class="footer_list">
      <div class="footer_list_title">Project</div>
      <ul class="footer_links">
        <li>
          <a href="/help/privacy/" target="_blank" rel="noreferrer noopener"
            >Privacy Policy</a
          >
        </li>
        <li>
          <a href="/help/terms" target="_blank" rel="noreferrer noopener"
            >Terms of Use</a
          >
        </li>
        <li>
          <a
            href="http://www.cfa.harvard.edu/sao"
            target="_blank"
            rel="noreferrer noopener"
            >Smithsonian Astrophysical Observatory</a
          >
        </li>
        <li>
          <a href="http://www.si.edu" target="_blank" rel="noreferrer noopener"
            >Smithsonian Institution</a
          >
        </li>
        <li>
          <a
            href="http://www.nasa.gov"
            target="_blank"
            rel="noreferrer noopener"
            >NASA</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
