<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NASA/ADS Search</title>
</head>
<body>
    <div class="header-container">
        <h3><A HREF="{{ url }}">NASA/ADS Search</a></h3>
        <hr>
    </div>
    <div class="main-container">
        {% block content %}
        <h3>{{ linkType }} links for <b>{{ bibcode }}</b></h3>
        <dl>
        {% for link in links %}
            <dt><a href="{{ link['url'] }}">{{ link['title'] }}</a></dt>
            {% for data in link['data'] %}
                <dd><a href="{{ data['url'] }}">{{ data['title'] }}</a></dd>
                <br>
            {% endfor %}
            <br>
        {% endfor %}
        </dl>
        {% endblock %}
    </div>
    <div class="footer-container">
    </div>
</body>
</html>

