git+https://github.com/adsabs/ADSMicroserviceUtils.git@v1.1.9
git+https://github.com/adsabs/ADSPipelineMsg.git@v1.0.0
Flask-Redis==0.3.0
Flask-RESTful==0.3.6
Flask-Testing==0.6.2
redis==2.10.6
Werkzeug==0.11.15
